header {
    background-image: url('https://www.metoffice.gov.uk/binaries/content/gallery/metofficegovuk/hero-images/weather/cloud/altocumulus.jpg/altocumulus.jpg/metofficegovuk%3AheroXXLarge');
    height: 20%;
    width: 100%;
}

body {
    display: flex;
    flex-direction: column;
}

#headerTitle {
    text-align: center;
    color: white;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

main {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 500px;
}

aside {
    height: 100%;
    width: 30%;
}

#citySearch {
    font-size: 27px;
    font-weight: bolder;
    margin: 5px 20px 5px 20px;
}

#cityQuery {
    width: 90%;
    height: 40px;
    margin: 5px 20px 10px 20px;
}

.searchButton {
    margin: 5px 20px 10px 20px;
    width: 90%;
}

hr {
    height: 1px;
    border: none;
    color: #333;
    background-color: #333;
    text-align: center;

    margin: 10px 15px 10px 20px;
}

#todaysWeather {
    border: 1px solid black;
    width: 97%;
    height: 50%;
    margin: 20px 20px 20px 10px;
    padding-left: 5px;
    flex-direction: column;
    display: none;
}

section {
    display: flex;
    width: 100%;
    height: 100%;
}

#mainData {
    flex-direction: column;
    display: flex;
}

#currentCity {
    font-weight: bolder;
    font-size: 25px;
}

#fiveDay {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 20px 20px 20px 10px;
}

#mainData{
    font-weight: bolder;
}

#fiveDayTitle{
    display:none;
    margin-left:10px;
    height:auto;
    font-size: 30px;
}

#cityButton{
margin:5px;
}

.savedButtons{
    display:flex;
    flex-direction:column;
}